body {
    margin: 4vw;
  }
  h1 {
    text-align: center;
    color: orange;
  }
  a, a:visited {
    color: tomato;
    text-decoration: none;
  }
  main {
    display: grid;
    grid-template-columns: 42vw 42vw;
    grid-template-rows: auto;
    column-gap: 4vw;
    padding: 2vw;
    border: 1px dotted #777;
  }
  footer {
    text-align: center;
    margin-top: 1vw;
  }
