body{
    text-align: center;
    color: #ffafbf;
    background-color: #ff5757;
    font-size: 20px;
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: #ff5757;
    color: #ffafbf;
}